{% extends 'base.html' %}
{% block body %}
		<div class="titletnr">This is my latest CV</div><a href="{% url 'story_3:index' %}">   click here to go back to main page</a>
		<div><img src="{% static 'CV/CV1.jpg' %}"><img src="{% static 'CV/CV2.jpg' %}"><img src="{% static 'CV/CV3.jpg' %}"><img src="{% static 'CV/CV4.jpg' %}"><img src="{% static 'CV/CV5.jpg' %}"><img src="{% static 'CV/CV6.jpg' %}"><img src="{% static 'CV/CV7.jpg' %}"></div>

		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
				<script>$('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})</script>
{% endblock %}