{% extends 'base.html' %} 

{% block body %}
    <h1>HELLO WOLD</h1>

    <form method="POST" action="#">
        {% csrf_token %}

        {{formulir}}

        <button type="submit">ADD</button>
    </form>
{% endblock %}