<head>
	<style>
		a:link {
		  text-decoration: none;
		}

		a:visited {
		  text-decoration: none;
		}

		a:hover {
		  text-decoration: none;
		  color: #A8A8A8;
		}

		a:active {
		  text-decoration: none;
		  color: black;
		}

		ul {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden!important;
		}

		#navbar {
		  overflow: hidden;
		  background-color: rgba(229, 229, 229, 0.5);
		  /*margin-left:22vw;*/
		  width: 100%;
		  justify-content: center;
		  position: fixed;
		  top:0;
		  z-index: 999;
		  display: flex;
		}

		/* Navbar links */
		#navbar a {
		  float: left;
		  display: block;
		  font-family: Montserrat, sans-serif;
		  font-weight: 700;
		  text-align: center;
		  padding: 14px 16px;
		  margin-left: 2vw;
		  margin-right: 2vw;
		  text-decoration: none;

		  color: #FF7315; opacity: 1;
		}

		/* The sticky class is added to the navbar with JS when it reaches its scroll position */
		.sticky {
		  position: fixed;
		  top: 0;
		  width: 100%;
		}

		.sticky + .content {
		  padding-top: 7vh;
		}
		</style>
		<body>
			<div id="navbar">
				<a href="#home">Home</a>
				<a href="#education">Education</a>
				<a href="#experience">Experience</a>
				<a href="#interest">Interest</a>
				<a href="#contact">Contact</a>
				<a href="{% url 'story_1:index' %}">Story 1</a>
				<a href="{% url 'story_3:jadwal' %}">Tambah Jadwal</a>
			</div>
		</body>